:root {
  --bg-color: #011627;
  --text-primary: #cbd6e2;
  --text-lightest-primary: rgba(203, 214, 226, 0.2);
  --text-secondary: #2ec4b6;
  --text-lightest-secondary: rgba(46, 196, 182, 0.4);

}

/* 
===================IMPORTANT===================

Subheading font - 1.95rem
Overall font size inside paragraph tag - 1.1rem
Button section font - 1rem
Tab content for buttons - 0.95rem


*/

* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-primary);
}


/* Container Properties */
.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* Navbar Setup */
.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  width: 100%;
  height: 3.5rem;
  position: fixed;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 82rem;
  /* padding: 0 1rem; */
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.navbar-left{
  flex: 1;
  justify-content: flex-start;
}
.navbar-right{
  flex: 1;
  justify-content: flex-end;
}

.navbar-brand {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-primary);
}

.highlight-brand-letter {
  color: var(--text-secondary);
  transition: color 0.3 ease;
}

.navbar-menu,
.navbar-logo {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-weight: bold;
}

.navbar-right i {
  font-size: 1.2rem;
}

.navbar a {
  color: var(--text-primary);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--text-secondary);
  transition: color 0.3s ease;
}

.navbar-brand a:hover .highlight-brand-letter {
  color: var(--text-primary);
}


/* WEB CONTENT */
#content{
  padding-top: 3.5rem;
}


/* Home Setup */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100vh - 3.5rem);
    padding-top: 0rem;
    gap: 2rem;   
}

.home-left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: flex-start; */
    height: 100%;
}

.home-right-side{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.intro{
  margin-top: 0;
  font-size: 2rem;
}

.intro h1 .intro-name {
  color: var(--text-secondary);
}

.blinking-cursor {
    color: var(--text-primary);
    animation: blink 1.2s linear infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .intro-subheading {
    margin-top: 0.5rem;
    font-size: 1.95rem;
    font-weight: 400;
    color: var(--text-primary);
    padding-bottom: 0.5rem;
  }

  .intro-description p {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    max-width: 37.5rem;
    color: var(--text-primary);
    overflow-wrap: break-word;
    text-align: justify;
  }

  .sketch-holder {
    width: 100%;
    height: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  canvas {
    max-width: 100%;
    height: auto;
  }

  .home-btns .btn{
    margin-top: 1rem;
    display: inline-block;
    margin-right: 0.5rem;
    width: fit-content;
    border: 1px solid var(--text-secondary);
    padding: 15px 40px;
    border-radius: 4px;
    color: var(--text-primary);
    text-decoration: none;
    transition: background 0.5s;
    font-weight: bold;
  }

  .home-btns .home-mail {
    margin-top: 1rem;
    display: inline-block;
    margin: 3.125rem left;
    width: fit-content;
    border: 1px solid var(--text-secondary);
    padding: 15px 45px;
    border-radius: 4px;
    color: var(--text-primary);
    transition: background 0.5s;
    text-decoration: none;
    font-weight: bold;
  }

  .btn:hover,
  .home-mail:hover{
    background-color: var(--text-lightest-secondary)
  }

  #about{
    padding: 12.5rem 0;
  }

  .about-content{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    height: 100%;
    padding-top: 0rem;
  }

  .about-title{
    font-size: 3rem;
    font-weight: bold;
  }

  .about-title::after{
    content: "";
    display: inline-block;
    width: 895px;
    height: 1px;
    vertical-align: middle;
    background-color: var(--text-lightest-primary);
    margin-left: 25px;
  }

  .special-ch{
    color: var(--text-secondary);
    text-decoration: none;
  }

  .about-left-side{
    flex: 1;
    margin-top: 2rem;
    color: var(--text-primary);
    min-width: 0;
    overflow-wrap: break-word;
    text-align: justify;
    word-spacing: 5px;
  }

  .about-right-side{
    width: 350px;
    margin-top: 2rem;
    flex-shrink: 0;
    
  }

  .about-right-side img{
    border-radius: 10px;
    height: auto;
    width: 100%;
    transition: 0.5s;
  }

  .about-right-side img:hover{
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  }

  .about-left-side a{
    color: var(--text-secondary);
    font-weight: bold;
    text-decoration: none;
  }

  .about-left-side p {
    padding-bottom: 2rem;
    font-size: 1.1rem;
  }

  .tabs-container{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }

  .tab-buttons{
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .tab-button {
    background: none;
    border: none;
    padding: 0.8rem 7rem 0.8rem 0.5rem;
    color: var(--text-primary);
    text-align: left;
    cursor: pointer;
    position: relative;
    transition: color 0.3s;
    border-radius: 4px;
    font-size: 1rem;
    overflow: hidden;
    z-index: 1;
  }

  .tab-button .ripple {
    position: absolute;
    background: var(--text-lightest-secondary);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 0.9s ease-out;
    pointer-events: none;
    z-index: 0;
    opacity: 0.5;
  }

  @keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

  .tab-button.active {
    font-weight: bold;
  }

  .tab-button.focused {
    color: var(--text-secondary);
  }

  .tab-indicator{
    position: absolute;
    right: 0;
    width: 2px;
    /* height: 2rem; */
    background-color: var(--text-secondary);
    transition: top 0.3s ease;
    top: 0;
  }

  .tab-content{
    flex: 1;
  }

  .tab-panel{
    display: none;
    animation: fadeIn 0.4s ease;
    margin-left: 2.5rem;
    margin-top: 0.1rem;
  }

  .tab-panel.active{
    display: block;
  }

  .skills-container {
    display: flex;
    gap: 4rem;
  }

  .skills-column {
    list-style: none;
    padding: 0;
  }

  .skills-column li {
    margin-bottom: 1rem;
  }

  .skills-column a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 0.95rem;
    font-weight: normal;
    position: relative;
    padding-left: 1.5rem;
  }

  .skills-column a::before {
    content: "▶";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-secondary);
    font-size: 0.8rem;
  }

::selection {
  background: var(--text-lightest-secondary)
}

