:root {
  --bg-color: #011627;
  --text-primary: #cbd6e2;
  --text-lightest-primary: rgba(203, 214, 226, 0.2);
  --text-secondary: #2ec4b6;
  --text-lightest-secondary: rgba(46, 196, 182, 0.4);

}

* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-primary);
}


/* Container Properties */
.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* Navbar Setuo */
.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  width: 100%;
  height: 3.5rem;
  position: fixed;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.navbar-left{
  flex: 1;
  justify-content: flex-start;
}
.navbar-right{
  flex: 1;
  justify-content: flex-end;
}

.navbar-brand {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-primary);
}

.highlight-brand-letter {
  color: var(--text-secondary);
  transition: color 0.3 ease;
}

.navbar-menu,
.navbar-logo {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
  font-weight: bold;
}

.navbar-right i {
  font-size: 1.2rem;
}

.navbar a {
  color: var(--text-primary);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--text-secondary);
  transition: color 0.3s ease;
}

.navbar-brand a:hover .highlight-brand-letter {
  color: var(--text-primary);
}


/* WEB CONTENT */
#content{
  padding-top: 3.5rem;
}


/* Home Setup */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 75vh;
    padding-top: 5rem;
    gap: 2rem;
}

.home-left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
    height: 100%;
}

.home-right-side{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.intro{
  margin-top: 20%;
  font-size: 2rem;
}

.intro h1 .intro-name {
  color: var(--text-secondary);
}

.blinking-cursor {
    color: var(--text-primary);
    animation: blink 1.2s linear infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .intro-subheading {
    margin-top: 0.5rem;
    font-size: 1.95rem;
    font-weight: 400;
    color: var(--text-primary);
    padding-bottom: 0.5rem;
  }

  .intro-description p {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    max-width: 37.5rem;
    color: var(--text-primary);
    overflow-wrap: break-word;
    text-align: justify;
  }

  .sketch-holder {
    width: 100%;
    height: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  canvas {
    max-width: 100%;
    height: auto;
  }

  .home-btns .btn{
    margin-top: 1rem;
    display: inline-block;
    margin-right: 0.5rem;
    width: fit-content;
    border: 1px solid var(--text-secondary);
    padding: 15px 40px;
    border-radius: 4px;
    color: var(--text-primary);
    text-decoration: none;
    transition: background 0.5s;
    font-weight: bold;
  }

  .home-btns .home-mail {
    margin-top: 1rem;
    display: inline-block;
    margin: 3.125rem left;
    width: fit-content;
    border: 1px solid var(--text-secondary);
    padding: 15px 45px;
    border-radius: 4px;
    color: var(--text-primary);
    transition: background 0.5s;
    text-decoration: none;
    font-weight: bold;
  }

  .btn:hover,
  .home-mail:hover{
    background-color: var(--text-lightest-secondary)
  }

  #about{
    padding: 200px 0;
  }

  .about-content{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: 100%;
  }

  .about-title{
    font-size: 3rem;
    font-weight: bold;
  }

  .about-title::after{
    content: "";
    display: inline-block;
    width: 895px;
    height: 1px;
    vertical-align: middle;
    background-color: var(--text-lightest-primary);
    margin-left: 25px;
  }

  .special-ch{
    color: var(--text-secondary);
  }

  .about-left-side{
    flex: 1;
    margin-top: 2rem;
    font-size: 1.1rem;
    color: var(--text-primary);
    min-width: 0;
    overflow-wrap: break-word;
    text-align: justify;
  }

  .about-right-side{
    width: 400px;
    margin-top: 2rem;
    flex-shrink: 0;
    transition: 0.5s;
  }

  .about-right-side img{
    border-radius: 10px;
    height: auto;
    width: 100%;
  }

  .about-right-side:hover{
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  }

  

::selection {
  background: var(--text-lightest-secondary)
}

